<div class="container">
    <div class="col-12 jumbotron">
        <div class="text-center">
            <h1>MongoSwim</h1>
            <p>A Mongo Scraper for Swimming News</p>
        </div>

    </div>
    <div class="row">

        {{#if article}}
        {{#each article}}
        <div class="col-md-4">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">{{this.title}}</div>
                <div class="card-body">
                    <p class="card-text">{{this.summary}}</p>
                    <a href="{{this.link}}" target="_blank" class="btn btn-primary">Read More...</a>
                    <button type="button" class="btn btn-success save" data-id={{this._id}}>Save Article</button>
                </div>
            </div>
        </div>
        {{/each}}
        {{else}}
        <div class="col-md-12">
            <div class="card updateJumbo">
                <div class="card-body">
                    No new articles. Try scraping again!
                </div>
            </div>
        </div>
        {{/if}}

    </div>
</div>
</div>

